# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Rust
src-tauri/target/
src-tauri/Cargo.lock

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
publish
PKGBUILD
.SRCINFO
*.tar.gz
*.pkg.tar.zst
